/*

My Custom CSS
=============

Author:  Komic
Updated: January 10th 2015
Notes:	 Hand coded for my Custom CSS

*/
.maps iframe{
    pointer-events: none;
}
/* --------------------------------------
   Layout
   -------------------------------------- */
/****** Sticky Footer ******/
html {
    min-height: 100%;
    position: relative;
}
/****** Sticky Footer ******/

#features {
    text-align: center;
}

#features img {
    margin: 20px 0px 20px;
}

.tabbable img.thumbnail {
    margin: 0 20px 10px 0;
}

#inputMessage {
    margin-bottom: 15px;
}

#myAlert {
    float: right;
    height: 30px;
    padding: 3px 16px !important;
}

.mywell {
    margin: 0px;
    background: #5B7AAA !important;
    min-height: 65px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


hr {
    background-color: #000000;
    height: 2px;
    width: 60%;
}

footer {
    background: #5B7AAA;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}

footer a {
    color: inherit;
}

.gallery {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

#image_gallery {
    margin-right: auto;
    margin-left: auto;
    float: none;
    transition: all .2s ease-in-out;
}

#image_gallery a{
    float: left;
    width: 25%;
    padding-right: 15px;
    margin-bottom: 15px;
    outline: 0;
}

#image_gallery img {
    max-width: 100%;
    height: auto;
}

#image_gallery:hover img {
    opacity: 6;
    transform: scale(.92);

}

#image_gallery img:hover {
    opacity: 1;
    transform: scale(1) rotate(2deg);
    box-shadow: 0 0 7px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}

/* --------------------------------------
   Typography
   -------------------------------------- */
@font-face {
    font-family: "Traditional";
    src: url(../../Marcsc___.ttf) format("truetype");
}

@font-face {
    font-family: "Welcome";
    src: url(../../Modeschrift.ttf) format("truetype");
}

.myfont {
    font-family: "Traditional", Verdana, Tahoma;
    font-size: 42px;
}

body {
    background: #FFF;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

#welcomeText {
    /*font-family: "Traditional", Verdana, Tahoma;*/
    font-style: italic;
    font-size: 16px;
    text-align: justify;
}

.header {
    font-family: "Traditional", Verdana, Tahoma;
    text-align: center;
}
#facilitiesText {
    /*font-family: "Traditional", Verdana, Tahoma;*/
    font-size: 16px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

.well .page-header {
    margin-top: 0;
}

.well .page-header h1 {
    margin-top: 0;
}
/* --------------------------------------
   Navbar
   -------------------------------------- */

.navbar-default {

      background: #CEDEF7;
    /*background: #AB3334;*/
}

.navbar-default .navbar-nav > li > a {
    background: #CEDEF7;
    /*background: #AB3334;*/
    color: #000;
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}

.navbar-default .navbar-nav > li > a:hover {
      color: #FFF;
      background: #5B7AAA;
    /*background: #5C3434;*/
    /*color: #E2C1C1;*/
}


.navbar-default .navbar-nav > li > a:focus {
    outline: none!important;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:visited {
       color: #FFF;
       background: #5B7AAA;
    /*color: #E2C1C1;*/
    /*background: #5C3434;*/
}


/*.navbar-default .navbar-nav > .active > a {*/
    /*background: #AB3334;*/
    /*color: #000;*/
/*}*/


/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
    margin-top: 60px;
}

.carousel-caption {
    font-size: 24px;
}

.carousel-caption h4 {
    font-size: 32px;
}

#myCarousel .item{
    height: 400px;
}

#slide1 {
    background: url('../../images/slide1_large.jpg') top left no-repeat;
}

#slide2 {
    background: url('../../images/slide2_large.jpg') top left no-repeat;
}

#slide3 {
    background: url('../../images/slide3_large.jpg') top left no-repeat;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert {
    margin-top: 20px;
    display: none;
}

/*.well {
    margin: 20px 0px;
}*/

.thumbnails {
 margin: 20px 0;
}

.thumbnail {
    position: relative;
}

.thumbnail h3 {
    font-size: 16px;
    margin: 0 0 10px;
    line-height: 20px;
}

.thumbnail .price {
    font-size: 22px;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 10px;
}

.thumbnail .price sup {
    font-weight: normal;
    font-size: 12px;
}

.thumbnail span.glyphicon {
    margin-right: 5px;
}

.warn {
    border-color: red;
}


.weather {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

#listImage img {
    border: 1px solid #000000;
    border-style: solid;
    padding: 2px;
    background-color: #CEDEF7;
    width: 40%;
    max-height: 150px;
    margin-right:10px;
    margin-left:10px;
    float: right;
    margin-bottom:10px;
}

/* --------------------------------------
   TripAdvisor
   -------------------------------------- */

.widSSP {
    width: 100%!important;
    margin-top: 27px!important;
}

/* --------------------------------------
   TravelRepublic
   -------------------------------------- */

.travelrepublic img {
    width: 100%;
}

/* --------------------------------------
   Fotorama image gallery
   -------------------------------------- */

.custom_fotorama {
    margin-bottom: 15px;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

    .carousel-indicators {
        bottom: 0px!important;
    }

    .carousel-caption {
        bottom: 0px!important;
    }

    .carousel-caption {
        font-size: 12px;
    }

    .carousel-caption h4 {
        font-size: 14px;
    }

    #myCarousel .item{
        height: 180px;
    }

    #portegoCarousel .item {
        height: 180px;
    }

    #slide1 {
        background: url('../../images/slide1_xs_rock.jpg') center;
    }

    #slide2 {
        background: url('../../images/slide2_xs_rocks.jpg') center;
    }

    #slide3 {
        background: url('../../images/slide3_xs.jpg') center;
    }

    .thumbnail .price {
        font-size: 14px;
    }

    .thumbnail sup {
        font-size: 10px;
    }

    .myfont2 {
        font-family: "Welcome", Verdana, Tahoma;
        font-size: 30px;
        text-align: center;
    }

}


@media (min-width: 480px) {

    .myfont2 {
        font-family: "Welcome", Verdana, Tahoma;
        font-size: 50px;
        text-align: center;
    }

    .header {
        font-size: 55px;
    }

    .carousel-caption {
        font-size: 16px;
    }

    .carousel-caption h4 {
        font-size: 22px;
    }

    #myCarousel .item{
        height: 330px;
    }

    #portegoCarousel .item {
        height: 330px;
    }

    #slide1 {
        background: url('../../images/slide1_sm_rock.jpg') center no-repeat;
    }

    #slide2 {
        background: url('../../images/slide2_sm_rocks.jpg') center no-repeat;
    }

    #slide3 {
        background: url('../../images/slide3_sm.jpg') center no-repeat;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {


    #myAlert {
        float: none;
        margin-top: 10px;
        width: 100%;
    }

    .well {
        margin-bottom: 0px;
    }

    .mywell form input {
        width: 100%;
        margin-top: 5px;
    }

    .header {
        font-size: 35px;
    }
}

@media (max-width: 767px) {
    #myAlert {
        float: none;
        margin-top: 10px;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .mywell form input {
        width: 13%;
    }

    .myfont2 {
        font-family: "Welcome", Verdana, Tahoma;
        font-size: 60px;
        text-align: center;
    }

    #something_else {
        height: 400px;
    }

    #myCarousel .item{
        height: 360px;
    }

    #portegoCarousel .item {
        height: 360px;
    }

    #slide1 {
        background: url('../../images/slide1_medium_rock.jpg') center no-repeat;
    }

    #slide2 {
        background: url('../../images/slide2_medium_rocks.jpg') top left no-repeat;
    }

    #slide3 {
        background: url('../../images/slide3_medium.jpg') top left no-repeat;
    }

    #portego1 {
        background: url('../../images/portego1_large.jpg') top left no-repeat;
    }

    #portego2 {
        background: url('../../images/portego2_large.jpg') top left no-repeat;
    }

    #portego3 {
        background: url('../../images/portego3_large.jpg') top left no-repeat;
    }

    #something_else {
        background: url(http://placehold.it/600x389) top left no-repeat;
    }

}

/* Small desktop */
/*@media (min-width: 992px) {*/
    /*.mywell form input {*/
        /*width: 110px;*/
    /*}*/

    /*#myAlert {*/
        /*width: auto;*/
    /*}*/

/*}*/

@media (max-width: 1199px) {
    .navbar-brand {
        padding: 3px;
    }

    .navbar-brand img {
        height: 39px;
    }
}

/* Large desktop */
@media (min-width: 1200px) {

    /****** Sticky Footer ******/
    body {
        margin-bottom: 130px;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 130px;
    }
    /****** Sticky Footer ******/

    .header {
        font-size: 70px;
    }

    .navbar-brand {
        padding: 0px;
    }

    .navbar-brand img {
        height: 50px;
    }


    #myCarousel .item{
        height: 500px;
    }

    #portegoCarousel .item {
        height: 400px;
    }

    #something_else {
        height: 400px;
    }

    #slide1 {
        background: url('../../images/slide1_large_rock.jpg') top left no-repeat;
    }

    #slide2 {
        background: url('../../images/slide2_large_rocks.jpg') top left no-repeat;
    }

    #slide3 {
        background: url('../../images/slide3_large.jpg') top left no-repeat;
    }

    #mochosSquare{
        background: url('../../images/mochos_square_250.jpg') top left no-repeat;
    }

    /*#portego1 {*/
        /*background: url('../../images/portego1_large.jpg') top left no-repeat;*/
    /*}*/

    /*#portego2 {*/
        /*background: url('../../images/portego2_large.jpg') top left no-repeat;*/
    /*}*/

    /*#portego3 {*/
        /*background: url('../../images/portego3_large.jpg') top left no-repeat;*/
    /*}*/

    /*#something_else {*/
        /*background: url(http://placehold.it/600x389) top left no-repeat;*/
    /*}*/

    .mywell form input {
        width: 170px;
    }

    #myAlert {
        float: right;
        height: 30px;
        padding: 3px 16px !important;
        width: auto;
        margin-top: auto;
    }

    .myfont2 {
        font-family: "Welcome", Verdana, Tahoma;
        font-size: 90px;
        text-align: center;
    }
}